body {
    text-align: center;
    font-family: monospace;
    font-size: 1.2em;
    padding: 1% 0;
    background: rgba(240,226,219,0.3);
}
img {
    width: 23%;
    margin: 1%;
    vertical-align: middle;
    transition: all 2s, transform .5s, box-shadow .5s;
}
img :hover {
    box-shadow: 6px 6px 20px rgba(0,0,0,0.7);
}
img :focus {
    box-shadow: 12px 12px 25px rgba(0,0,0,.7);
    width: 47%;
}
img :focus {
    box-shadow: 12px 12px 25px rgba(0,0,0,.7);
    width: 47%;
    transform: none;
}