body {
    margin: 0 auto;
    padding: 0;
    font-family: cursive;
    background: #F0A19B;
}
header {
    text-align: center;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 7px 0px 10px rgba(0,0,0,0.6), -7px 0px 10px rgba(0,0,0,0.6);
}
.headerImage img{
    max-height: 100vh;
    max-width: 100%;
}
nav {
    margin-bottom: 2%;
}
nav a{
    padding: .7% 2.5%;
    margin: 2% 1%;
    text-decoration: none;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    transition: all .5s;
}
nav a:hover {
    box-shadow: 0 1px 1px #f00;
    text-shadow: 0 1px 1px #f00; 
}
.container {
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 70%;
	height: 0;
	padding-bottom: 40%;
	background: #4c4c4c;
	border: solid 10px #2c2c2c;
}
.slide_img {
	position: absolute;
	width: 100%;
	height: 100%;
}
.slide_img img {
	width: 100%;
	height: 100%;
}
#i1, #i2, #i3, #i4 {
	display: none;
}
.pre, .nxt {
	width: 12%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(88,88,88,.4);
	z-index: 99;
	cursor: pointer;
}
.pre {
	left: 0;
}
.nxt {
	right: 0;
}
.navbar {
	width: 100%;
	height: 11px;
	bottom: 12%;
	position: absolute;
	text-align: center;
	z-index: 99;
}
.dots {
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	background: rgba(0,0,0,.6);
}
.slide_img {
	z-index: -1;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
	z-index: 9;
}
#i1:checked ~ .navbar #dot1, #i2:checked ~ .navbar #dot2, #i3:checked ~ .navbar #dot3, #i4:checked ~ .navbar #dot4,{
	background-color: #fff;
}
.row_news {
	max-width: 900px;
	margin: auto;
	background: transparent;
	overflow: auto;
}
#first_row {
	margin-top: 15px;
text-align: center;
}
.quarter {
	margin: 5px;
	padding: 15px;
	border: 1px solid #ccc;
	float: left;
	width: 250px;
}
.quarter img {
	width: 100%;
	height: 100%;
}
.footer {
	background-color: transparent;
	color: gray;
	text-align: center;
	padding-bottom: 1px;

}